@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CABECALHO */
.icone-titulo {
  font-size: 2.8rem;
  padding: .3rem;
  background: linear-gradient(85deg, #222177, #b3870e);
  border-radius: 10px;
  color: #fff;
}

header.scrolled {
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.75);
}

.cabecalho-titulo:hover .icone-titulo {
  transform: scale(1.1);

}

/* SECAO TOPO */
.icone-topo {
  font-size: 1.5rem;
  color: orange;
}

/* SWIPER */
/* div.swiper-button-prev,
div.swiper-button-next {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: .7rem;
  font-size: 2rem;
} */


/* .swiper-pagination-bullet {
  background-color: #575757 !important;
  width: .7rem !important;
  height: .7rem !important;
} */

.swiper-loading .swiper-wrapper {
  opacity: 0;
}

.swiper-ready .swiper-wrapper {
  opacity: 1;
  transition: opacity 0.4s ease;
}

/* garante que botões apareçam */
.swiper-button-next,
.swiper-button-prev {
  opacity: 1 !important;
  pointer-events: auto;
  width: 50px !important;
  height: 50px !important;
  padding: .8rem !important;
  background-color: #fff;
  border-radius: 50%;
  color: #000 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 2rem 0 2rem !important;
}


.swiper-pagination {
  opacity: 1 !important;
  pointer-events: auto;
}

.swiper-pagination-bullet {
  background-color: #575757 !important;
  width: .7rem !important;
  height: .7rem !important;
}

/* SECAO SERVICOS */
.servicos-icone {
  font-size: 4rem;
  background-color: rgb(184, 222, 255);
  padding: 1rem;
  border-radius: 50%;
  overflow: visible;
}

/* SEÇÃO PROCESSO */
.processo-icone {
  border-radius: 50%;
  /* background-color: #222177; */
  color: #fff;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  padding: 1.2rem;
  background: linear-gradient(-45deg,
      rgba(255, 255, 255, 0.45) 10%,
      rgba(255, 255, 255, 0.2) 12%,
      rgb(13, 79, 138) 70%);
}

/* SECAO DESTAQUE */
.destaque-icone-img {
  border-radius: 50%;
  background-color: #222177;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  padding: .7rem;
  position: absolute;
  bottom: 8%;
  left: 4%;
  z-index: 10;
}

.destaque-icone {
  color: orange;
}

/* SEÇÃO QUALIDADE */
.qualidade-icone {
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  width: .8em;
  height: .8em;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  font-weight: bold;
  padding: .3rem;
}

/* SEÇÃO PERGUNTAS */
.icone-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.icone {
  font-size: 1.5rem;
  transition: transform 0.35s ease;
}

/* gira SOMENTE o ícone */
.icone-wrapper.ativo .icone {
  transform: rotate(180deg);
}

.texto {
  color: #535353;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-15px);
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.5s ease;
}

/* estado aberto */
.texto.ativo {
  max-height: 200px;
  /* maior que o texto */
  opacity: 1;
  transform: translateY(0);
}

/* SEÇÃO CONTATO */
.contato-icone {
  width: 50px;
  height: 50px;
  padding: .5rem;
  color: #222177;
  font-size: 1.3rem;
  background-color: #b8b8c0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-telefone {
  width: 50px;
  height: 50px;
  color: #222177;
  background-color: #b8b8c0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato-icone-telefone {
  font-size: 1.7rem;
  line-height: 1;
  display: block;
}